# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/
Check
# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

#Zed
.zed/
pyrightconfig.json

# PyCharm
.idea
android_world/task_evals/information_retrieval/proto/
.env
test_runs/
*.md